.pageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  height: 100vh;
  padding-top: 48px;
  gap: 32px;
}

.leftMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 420px;
}

.selectsContainer {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  gap: 20px;
  width: 100%;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
}

.filtersHeadline {
  padding: 12px 8px;
  border-bottom: 1px solid #e7e7e7;
}

.filterTypeContainer {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  border-bottom: 1px solid #e7e7e7;
}

.filterTitle {
  font-size: 16px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 820px;
  height: 100vh;
  margin-top: 37px;
}

.menuContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-bottom: 16px;
}

.loadingContainer {
  margin: auto;
  padding-top: 200px
}

.reservasContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 12px;
}